@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    font-family: Nunito;
    background-image: url("Polygon1.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #f5f5f5;
}

.logo {
    padding-top: 35px;
    padding-right: 100px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
}

.judul {
    font-weight: 800;
    font-size: 50px;
}

.subjudul {
    font-weight: 700;
    font-size: 35px;
}

.deskripsi {
    font-size: 25px;
}