body{
    font-family: 'Open Sans','Nunito', sans-serif, sans-serif;
}

.background-home{
    background-image: url(img/bg-home.jpg);
    background-size: 100%;
    background-position: top;
    filter: brightness(0.4);
    background-repeat: no-repeat;
    height: 35vmax;
}
